<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DLMHS10V\BTS2;Initial Catalog=Riaan;user id=sa;password=Orgaleon12;" />
    <!--add key="ConnectionString" value="Data Source=(LOCAL);Initial Catalog=lfa_PowerMgmt;user id=sa;password=sa;"/-->
    <add key="DefaultPort" value="12345" />
    <!--add key="DefaultPort" value="9000"/-->
  </appSettings>
</configuration>