<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=(LOCAL);Initial Catalog=lfa_PowerMgmt;Integrated Security=SSPI;"/>
    <add key="DefaultPort" value="9000"/>
    <add key="EnableLogging" value="true"/>
    <add key="Interval" value="120000"/>
  </appSettings>
</configuration>