<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=(LOCAL)\SQLExpress;Initial Catalog=lfa_PowerMgmt;user id=sa;password=elevato;"/>
    <add key="MeterAddressList" value="192.168.0.1:5000:001"/>
    <add key="MeterPassword" value="FEDC0003"/>
    <add key="Interval" value="120000"/>
    <add key="Logging" value="false"/>
    <add key="MaxAmps" value="360"/>
  </appSettings>
</configuration>