<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SqlConnectionString" value="Data Source=DLMHS10V\BTS2;Initial Catalog=SmartCloud;user id=sa;password=Orgaleon12;"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
